@{
    ViewData["GMPort"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container hero1">
    <h1 class="h1-h1">Welcome to the Grinil Page</h1>
</div>

<div class="container hero2">
    <h2 class="h2-h2">You Will Find</h2>
    <h3 class="h2-h3">My Projects</h3>
    <h3 class="h2-h3">What I am Up To</h3>
    <h3 class="h2-h3">Where I have Been</h3>
</div>

<div class="container hero3">
    <h1 class="h3-h1">Navigate Through the Nav Bar</h1>
    <h1 class="h3-h1" id="enjoy"><em>and enjoy!</em></h1>

</div>

<footer></footer>